<div class="user_thumbnail">
  <div class="left-col">
    <img src=<%= u.photo %> class='img' alt="walking in the sunset" >
  </div>
  <div>
    <h3><%= u.name %></h3>
    <p>Number of posts: <%= u.posts_counter %></p>
  </div>
</div>