body {
    background-color: #393646;
}

.navbar {
    background-color: #6D5D6E!;
    color: #F4EEE0;
    height: 10rem;
}

nav h1 {
    margin: 0 auto;
}

.card {
    margin: 0 auto;
    width: 50%;
    min-height: 200px; 
}

.card-title a {
    text-decoration: none;
    color: #393646;
}

.card-title a:hover {
    font-weight: bold;
    color: #6D5D6E;
}

.card-body {
    background-color: #F4EEE0!;
    color: #393646;
    justify-content: center;
}

#user-photo {
    width: 200px;
    height: 200px;
}

#lks {
    justify-content: flex-end;
}

#lks p {
    margin-right: 10px;
}

.btn {
    border: 2px solid #393646;
    background-color: #393646;
    color: #fff;
}